$dark-blue1: #05182f;
$dark-blue2: #0b1d2f;
$medium-blue: #1c4a80;
$light-blue: #0569d6;
$white-blue: #7cc9ff;

@font-face {
  font-family: "HeveticaNeueBold";
  src: url('fonts/HelveticaNeueLTStd-Bd_0.otf');
  src: url('fonts/HelveticaNeueLTStd-Bd_0.woff');
  font-weight: bold;
}
@font-face {
  font-family: "HeveticaNeueRegular";
  src: url('fonts/HelveticaNeueLTStd-Lt_0.otf');
  src: url('fonts/HelveticaNeueLTStd-Lt_0.woff');
  font-weight: 600;
}
