.lightboxOverlay{
  background: #fff;
  opacity: .85;
}
.lightbox{
  position: fixed;
  top: 100px !important;
  .lb-outerContainer{
    .lb-container{
      .lb-image{
        border: 0;
        border-radius: 0;
      }
      .lb-nav{
        position: relative;
        text-align: right;
        height: 50px;
        margin-top: 30px;
        .lb-prev{
          z-index: 1;
          font-size: 0;
          border-radius: 50%;
          border: 1px solid $medium-blue;
          background: transparent;
          color: $medium-blue;
          width: 36px;
          height: 36px;
          outline: none;
          opacity: 1;
          text-align: center;
          padding-top: 17px;
          position: absolute;
          right: 45px;
          left: auto;
          margin-right: 15px;
          text-decoration: none;
          &:before{
            content: '\f060';
            font-family: 'Font Awesome 5 Free';
            font-size: 20px;
            font-weight: 900;
          }
          &:after{
            content: 'Clique para ver mais';
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 500;
            color: $medium-blue;
            position: absolute;
            width: 150px;
            margin-left: -210px;
            margin-top: 12px;
            pointer-events: none;
          }
        }
        .lb-next{
          font-size: 0;
          border-radius: 50%;
          border: 1px solid $medium-blue;
          background: transparent;
          color: $medium-blue;
          width: 36px;
          height: 36px;
          margin-right: 15px;
          outline: none;
          opacity: 1;
          text-align: center;
          padding-top: 17px;
          text-decoration: none;
          &:before{
            content: '\f061';
            font-family: 'Font Awesome 5 Free';
            font-size: 20px;
            font-weight: 900;
          }
        }
      }

    }
  }
  .lb-dataContainer{

    .lb-data{
      .lb-details .lb-caption{
        display: none !important;
      }
      .lb-closeContainer{
        position: absolute;
        top: 0px;
        right: 50%;
        margin-top: -55px;
        margin-right: -324px;
        .lb-close{
          background: $medium-blue;
          opacity: 1;
          padding-top: 15px;
          font-size: 15px;
          border-radius: 3px;
          text-align: center;
          &:before{
            content: '\f00d';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: white;
          }
        }
      }
    }
  }
}
