@include respond-below(xs) {
  .page-template-default:not(.home) > .container{
    .single-title{
      font-size: 25px;
    }
  }
  .searchResults{
    .unknownSearch{
      font-size: 22px;
    }
    .resultItem{
      .singleTitle{
        font-size: 25px;
      }
      .subTitle{
        font-size: 22px;
      }
    }
  }
  header{
    .top-navbar .container .row{
      display: none;
      .topnavItem{
        text-align: center;
        padding: 10px;
        p{
          font-size: 15px;
        }
        &:nth-child(3){
          p{
            line-height: 1;
            span{
              display: block;
            }
          }
        }
        &:last-child{
          p{
            text-align: center;
          }
        }
      }
    }
    .navbar{
      .container{
        position: relative;
        .navbar-brand{
          position: absolute;
          bottom: -69px;
          margin-left: 3%;
          top: auto;
          .under-logo{
            width: 116px;
            margin-left: -3px;
          }
          .site-logo{
            width: 110px;
            margin-top: -24px;
          }
        }
        .navbar-collapse{
          margin: 0;
          border: 0;
          .menu-homemenu-container .menu{
            padding: 0;
            margin: 0;
            text-align: center;
            line-height: 1.6;
            .menu-item-has-children{
              padding: 5px 0;
              display: block;
              float: unset;
              .sub-menu{
                width: 100%;
                padding-top: 5px;
                overflow: hidden;
                display: none;
                opacity: 1;
                margin-top: 0;
                & > .menu-item{
                  max-width: none;
                  width: 100%;
                  padding:0;
                  &:last-child{
                    padding-bottom: 10px;
                  }
                  a{
                    padding: 5px 0;
                  }
                }
              }
            }
            .menu-item-395{
              display: block;
              padding: 0;
              height: auto;
            }
          }
          .searchForm{
            position: relative;
            top: auto;
            left: auto;
            text-align: center;
            margin-left: 32px;
          }
        }
      }
    }
  }
  .home-carousel .container-fluid .container{
    margin-left: 0;
    left: 0;
    bottom: auto;
    top: 40%;
    p{
      margin-bottom: 80px;
      text-align: left;
      font-size: 27px;
      span:last-child{
        display: block;
      }
    }
  }
  .main{
    .newsletter{
      .newsletterMessage{
        font-size: 25px;
      }
    }
    .quemSomos{
      h1{
        font-size: 25px;
      }
      .values h1{
        font-size: 25px;
      }
    }
    .highlightedNews .news-track{
      .slick-dots{
        width: 100%;
        text-align: center;
        margin: 0;
        bottom: -27px;
        z-index: 1;
      }
      .news-slide .row .news-img{
        height: 230px;
        &:before{
          display: none;
        }
        .content{
          width: 100%;
          max-width: none;
          padding: 0 15px;
          .news-spotlight{
            left: 15px;
          }
          .news-Titles{
            h2{
              font-size: 25px;
            }
            h3{
              font-size: 20px;
            }
          }
          .post-link{
            position: absolute;
            right: 15px;
            bottom: 30px;
            a{
              color: white;
            }
          }
        }
      }
    }
    .transparency{
      padding-top: 0;
      padding-bottom: 100px;
      .row{
        .title{
          padding-right: 0;
          .content{
            width: auto;
            float: none;
            padding: 80px 15px;
            margin: 0;
            p{
              display: block;
              width: 100%;
              margin: auto;
              font-size: 25px;
            }
          }
        }
        .slider{
          .transparencyslider {
            .slick-prev, .slick-next{
              display: none !important;
            }
            .slick-dots{
              bottom: -50px;
              text-align: center;
            }
            .slick-list .slick-track .item img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .ementas h1{
      font-size: 25px;
      span{
        display: block;
      }
    }
    .testimonials{
      h3{
        font-size: 25px
      }
      .testimonial-track.mobile{
        .slick-prev{
          left: 32px;
        }
        .slick-next{
          right: 32px;
        }
        .slick-list .slick-track{
          .slick-slide .row{
            .testimonial-main .row{
              .testimonial-personInfo{
                width: 100%;
                height: 250px;
                min-height: auto;
              }
              .testimonial-text{
                width: 100%;
                height: 250px;
                padding: 25px;
                &:before{
                  top:0;
                  left:25px;
                }
                &:after{
                  bottom:0;
                  right:25px;
                }
                p{
                  font-size: 14px;
                  height: -webkit-fill-available;
                  overflow: hidden;
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
      } 
    }
    .events h3{
      font-size: 25px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .informacoesGerais h1{
      font-size: 25px;
    }
    .instalacoes{
      .galleryTitle{
        font-size: 25px;
      }
      .locationMap .galleryTitle{
        font-size: 25px;
      }
    }
    .matriculasMensalidades{
      h1{
        font-size: 25px;
      }
      .monthCosts{
        .outerWrap{
          position: relative;
          &:after{
            content: '';
            background: linear-gradient(to left, rgba(255,0,0,0), rgba(0, 0, 0, 0.19));
            width: 70px;
            height: 100%;
            position: absolute;
            top: 0;
            margin-left: 130px;
          }
          .tableWrap{
            margin-left: 0px;
            overflow-x: scroll;
            overflow-y: visible;
            padding-bottom: 5px;
            width: 100%;
            .tableMonthcosts{
              border-collapse: separate;
              border-spacing: 0;
              width: 512px;
              thead{
                tr{
                  white-space: nowrap;
                  th.thead1{
                    left: 0;
                    position: absolute;
                    top: auto;
                    width: 129px;
                    white-space: nowrap;
                    z-index: 1;
                  }
                }
              }
              tbody tr{
                white-space: nowrap;
              }
              tbody tr{
                .sideThead{
                  left: 0;
                  position: absolute;
                  top: auto;
                  width: 130px;
                  white-space: nowrap;
                  z-index: 1;
                  background: white;
                }
                &.spacer td:first-child{
                  left: 0;
                  position: absolute;
                  top: auto;
                  width: 130px;
                  white-space: nowrap;
                  z-index: 1;
                  background: white;
                }
              }
            }
          }
        }
      }
      .extendCosts{
        .extendWrapper{
          position: relative;
          overflow-x: scroll;
          overflow-y: visible;
          .innerWrapper{
            margin-left: 0px;
            padding-bottom: 5px;
            width: 575px;
            display: flex;
          }
        }
      }
      .mealsCosts{
        .outerWrap{
          position: relative;
          margin-bottom: 80px;
          &:after{
            content: '';
            background: linear-gradient(to left, rgba(255,0,0,0), rgba(0, 0, 0, 0.19));
            width: 70px;
            height: 100%;
            position: absolute;
            top: 0;
            margin-left: 130px;
          }
          .tableWrap{
            margin-left: 0px;
            overflow-x: scroll;
            overflow-y: visible;
            padding-bottom: 5px;
            width: 100%;
            .tableMealscosts{
              border-collapse: separate;
              border-spacing: 0;
              width: 512px;
              margin-bottom: 0;
              tbody tr{
                white-space: nowrap;
              }
              tbody tr{
                .thead1{
                  left: 0;
                  position: absolute;
                  top: auto;
                  width: 130px;
                  white-space: nowrap;
                  z-index: 1;
                  height: 103px;
                  padding: 39px 0;
                }
                .highHead{
                  left: 0;
                  position: absolute;
                  top: auto;
                  width: 130px;
                  white-space: nowrap;
                  z-index: 1;
                  background: white;
                }
                &.spacer td:first-child{
                  left: 0;
                  position: absolute;
                  top: auto;
                  width: 130px;
                  white-space: nowrap;
                  z-index: 1;
                  background: white;
                }
              }
            }
          }
        }
      }
    }
    .gabinetePsicologia{
      .titlegabinetePsicologia h2{
        font-size: 25px;
      }
      .contentgabinetePsicologia{
        .fotoPsicologa{
          width: 100%;
          padding: 0 0 15px 0;
        }
      }
    }
    .matriculasInfo h1{
      font-size: 25px;
    }
    .ofertaFormativa, .servicosOpcionais{
      .titleofertaFormativa, .titleservicosOpcionais{
        font-size: 25px;
      }
      .schoolTabs .menuTabs{
        display: none;
        .itemTab, .itemTab:last-child{
          width: 100%;
          &:not(.active){
            display: none;
          }
        }
      }
    }
    .contentofertaFormativa, .contentservicosOpcionais{
      .container{
        padding: 0;
        .itemSection {
          padding-top: 0;
          .filesofertaFormativa{
            padding: 60px 15px 0;
            .row .filesofertaformativaTitle p{
              font-size: 25px;
              margin-top: 0;
            }
          } 
          .sliderofertaFormativa{
            padding: 0 0 120px;
            .itemTitle p{
              margin: 60px 0 60px;
              text-align: center;
              font-size: 25px;
            }
            .itemImages .itemSlider{
              .slick-list{
                .slick-track .item{
                  //height: auto;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
              .slick-dots{
                bottom: -60px;
                text-align: center;
              }
            }
          }
          .filesofertaFormativa{
            .row {
              .filesofertaformativaTitle{
                text-align: center;
                padding-right: 0;
              }
              .filesofertaformativaButtons{
                .fileSlider{
                  margin-left: -15px;
                  margin-right: -15px;
                  .slick-list .slick-track .buttonFiles .itemFile{
                    //height: 188px;
                    a{
                      .fileIcon img{
                        margin-top: 42px;
                      }
                      .arrowDown1, .arrowDown2, .arrowDown3{
                        &:after{
                          top: 153px;
                        }
                      }
                    }
                  }
                  .slick-dots{
                    bottom: -40px;
                    text-align: center;
                  }
                  .slick-next{
                    right: 15px;
                  }
                  .slick-prev{
                    right: 60px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .calendarioEscolar{
      h1{
        font-size: 25px;
        span{
          display: block;
        }
      }
      .contentCalendarioescolar .seasonCalendarioescolar{
        .season1st, .season2nd, .season3rd{
          padding-bottom: 20px;
          .seasonTitle{
            font-size: 25px;
          }
        }
      }
      .activitiesCalendar .activitiescalendarContent .titleActivitiescalendar{
        padding: 40px 0;
        p{
          position: relative;
          transform: none;
          margin-right: 0;
          left: auto;
          top: auto;
        }
      }
    }
  }
  .newsSinglePage{
    .newsPageTitle{
      font-size: 25px;
    }
    .newsHeader .container .headerTitles{
      width: auto;
      .newsTitle{
        font-size: 25px;
      }
      .newsSubtitle{
        font-size: 20px;
      }
    }
    .newsContent .newsNavigation{
      padding: 30px 0 100px;
      .arrowNavigation{
        right: 0;
        margin-top: 45px;
      }
      .dotsNavigation{
        display: block;
      }
    }
    .previousNews{
      .prevnewsTitle{
        font-size: 25px;
      }
      .prevNews .container .newsTitles{
        width: auto;
        .newsTitles_Wrapper{
          .newsSubtitle{
            font-size: 20px;
          }
          .newsTitle{
            font-size: 25px;
          }
        }
      }
    }
  }
  footer{
    .footer-title h3{
      font-size: 25px;
    }
    .footer-content{
      .container{
        .row.informations{
          .contacts-section{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
            border-bottom: 0px solid #8e8e8e;
            padding: 10px 0;
          }
          .info-section{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
            border: 0;
            border-bottom: 0px solid #8e8e8e;
            padding: 10px 0;
            .content{
              .availability-time{
                margin-bottom: 37px;
              }
              .follow-facebook{
                margin-bottom: 20px;
                position: relative;
                bottom: auto;
              }
            }
          }
          .menu-section{
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
            padding: 10px 0;
            .menuTitle{
              cursor: pointer;
              font-size: 20px;
              margin-bottom: 15px;
              font-weight: bold;
              color: white;
              svg{
                font-size: 16px;
              }
            }
            .bottomMenu{
              display: none;
              .menu-homemenu-container .menu .menu-item-type-custom:not(.menu-item-457):not(.menu-item-516){
                display: block;
                padding-left: 0;
                .sub-menu{
                  & > .menu-item{
                    padding: 3px 0;
                  }
                }
              }
            }
            .policies-links{
              width: 100%;
              margin: 0;
              .col-6{
                text-align: center;
                font-size: 13px;
                a{
                  color: #0569d6;
                }
              }
            }
          }
        }
        .row.keep-touch{
          .content-contactform{
            &:not(.expanded){
              display: none !important;
            }
            &.expanded{
              .closeExpanded{
                display: none;
              }
              .expandedContactform .wpcf7 .wpcf7-form{
                .inputLeft{
                  width: 100%;
                  display: block;
                  padding: 0;
                }
                .inputRight{
                  padding-top: 30px;
                  width: 100%;
                  display: block;;
                }
              }
            }
          }
          .content-newsletter{
            &:not(.expanded){
              display: none !important;
            }
            &.expanded{
              .closeExpanded{
                display: none;
              }
              .expandedNewsletterform .WrapperexpandedNewsletterform  .wpcf7 .wpcf7-form p{
                .your-name{
                  display: block;
                  width: 100%;
                  padding: 0;
                }
                .your-email{
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .bottom-rights{
        .icon-cluny{
          position: relative;
          display: block;
          margin: auto;
        }
      }
    }
  }
  .slick-lightbox .slick-lightbox-inner{
    width: 100%;
    position: relative;
    margin: auto;
    .slick-lightbox-slick{
       width: 100%;
       position: relative;
     .slick-prev{
       margin-bottom: 0;
       bottom: 20%;
       right: 60px;
     }
     .slick-next{
      margin-bottom: 0;
      bottom: 20%;
       right: 15px;
     }
     .slick-list{
       width: 100%;
       .slick-track{
         margin-top: -150px;
         .slick-lightbox-slick-item .slick-lightbox-slick-item-inner img{
           max-height: 350px !important;
           object-fit: cover;
         }
       }
     }
    }
    .slick-lightbox-close{
      margin-top: -180px;
      right: 15px;
    }
  }
  .lightbox{
    margin-top: 60px;
    .lb-outerContainer{
      width: 100% !important;
      .lb-container{
        .lb-image{
          max-width: none;
          width: 100%;
          max-height: 350px;
        }
      }
    }
    .lb-dataContainer .lb-data .lb-closeContainer{
      right: 0;
      margin-right: 15px;
    }
  }
}

@include respond-between(xs, sm) {
  .searchResults{
    .unknownSearch{
      font-size: 22px;
    }
    .resultItem{
      .singleTitle{
        font-size: 25px;
      }
      .subTitle{
        font-size: 22px;
      }
    }
  }
  header{
    position: relative;
    .top-navbar .container .row{
      display: none;
      .topnavItem{
        text-align: center;
        padding: 10px;
        p{
          font-size: 15px;
        }
        &:nth-child(3){
          p{
            line-height: 1;
            span{
              display: block;
            }
          }
        }
        &:last-child{
          p{
            text-align: center;
          }
        }
      }
    }
    /*.navbar .container .navbar-brand{
      top: 22px;
      .under-logo{
        width: 135px;
        margin-top: -30.5px
      }
      .site-logo{
        width: 125px;
        margin-top: -24px;
      }
    }*/
    .navbar{
      .container{
        position: relative;
        .navbar-brand{
          position: absolute;
          bottom: -69px;
          margin-left: 3%;
          top: auto;
          .under-logo{
            width: 116px;
            margin-left: -3px;
          }
          .site-logo{
            width: 110px;
            margin-top: -24px;
          }
        }
        .navbar-collapse{
          margin: 0;
          border: 0;
          .menu-homemenu-container .menu{
            padding: 0;
            margin: 0;
            text-align: center;
            line-height: 1.6;
            .menu-item-has-children{
              padding: 5px 0;
              display: block;
              float: unset;
              .sub-menu{
                width: 100%;
                padding-top: 5px;
                overflow: hidden;
                display: none;
                opacity: 1;
                margin-top: 0;
                & > .menu-item{
                  max-width: none;
                  width: 100%;
                  padding:0;
                  &:last-child{
                    padding-bottom: 10px;
                  }
                  a{
                    padding: 5px 0;
                  }
                }
              }
            }
            .menu-item-395{
              display: block;
              padding: 0;
              height: auto;
            }
          }
          .searchForm{
            position: relative;
            top: auto;
            left: auto;
            text-align: center;
            margin-left: 32px;
          }
        }
      }
    }
  }
  .home-carousel .container-fluid .container{
    margin-left: 0;
    left: 0;
    bottom: auto;
    top: 40%;
    p{
      margin-bottom: 80px;
      text-align: left;
      font-size: 30px;
      span:last-child{
        display: block;
      }
    }
  }
  .main{
    .newsletter{
      .newsletterMessage{
        font-size: 25px;
      }
    }
    .quemSomos{
      h1{
        font-size: 25px;
      }
      .values h1{
        font-size: 25px;
      }
    }
    .instalacoes{
      .galleryTitle{
        font-size: 25px;
      }
      .locationMap .galleryTitle{
        font-size: 25px;
      }
    }
    .highlightedNews .news-track{
      .slick-dots{
        width: 100%;
        text-align: center;
      }
      .news-slide .row .news-img{
        height: 230px;
        &:before{
          display: none;
        }
        .content{
          width: 100%;
          max-width: none;
          padding: 0 15px;
          .news-spotlight{
            left: 15px;
          }
          .news-Titles{
            h2{
              font-size: 25px;
            }
            h3{
              font-size: 20px;
            }
          }
          .post-link{
            position: absolute;
            right: 15px;
            bottom: 30px;
            a{
              color: white;
            }
          }
        }
      }
    }
    .transparency{
      padding-top: 0;
      padding-bottom: 100px;
      .row{
        .title{
          padding-right: 0;
          .content{
            width: auto;
            float: none;
            padding: 80px 0;
            margin: 0;
            p{
              display: block;
              width: 400px;
              margin: auto;
              font-size: 25px;
            }
          }
        }
        .slider{
          .transparencyslider {
            .slick-prev, .slick-next{
              display: none !important;
            }
            .slick-dots{
              bottom: -50px;
              text-align: center;
            }
          }
        }
      }
    }
    .testimonials{
      h3{
        font-size: 25px
      }
      /*.testimonial-track{
        .slick-list{
          padding: 0 32px !important;
          .slick-track{
            width: 9000px !important;
          }
        }
        .slick-slide{
          width: 400px !important;
          .testimonial-main{
            width: 400px;
            .testimonial-personInfo{
              width: 200px;
              height: 200px;
              min-height: auto;
            }
            .testimonial-text{
              width: 200px;
              height: 200px;
              padding: 25px;
              p{
                font-size: 14px;
              }
            }
          }
        }
      }*/
      .testimonial-track.mobile{
        .slick-prev{
          left: 32px;
        }
        .slick-next{
          right: 32px;
        }
        .slick-list .slick-track{
          .slick-slide .row{
            .testimonial-main .row{
              .testimonial-personInfo{
                height: 250px;
                min-height: auto;
              }
              .testimonial-text{
                height: 250px;
                padding: 25px;
                &:before{
                  top:0;
                  left:25px;
                }
                &:after{
                  bottom:0;
                  right:25px;
                }
                p{
                  padding: 0;
                  font-size: 14px;
                  height: -webkit-fill-available;
                  overflow: hidden;
                  margin: 0;
                }
              }
            }
          }
        }
      } 
    }
    .events h3{
      font-size: 25px;
    }
    .ofertaFormativa, .servicosOpcionais{
      .titleofertaFormativa, .titleservicosOpcionais{
        font-size: 25px;
      }
      .schoolTabs .menuTabs{
        display: none;
        .itemTab, .itemTab:last-child{
          width: 100%;
          &:not(.active){
            display: none;
          }
        }
      }
    }
    .contentofertaFormativa, .contentservicosOpcionais{
      .container .itemSection {
        padding-top: 0;
        .filesofertaFormativa .row .filesofertaformativaTitle p{
          font-size: 25px;
        }
        .sliderofertaFormativa{
          padding: 0 0 120px;
          .itemTitle p{
            margin: 60px 0 60px;
            text-align: center;
          }
          .itemImages .itemSlider .slick-list .slick-track .item{
            height: auto;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .filesofertaFormativa{
          .row {
            .filesofertaformativaTitle{
              text-align: center;
            }
            .filesofertaformativaButtons{
              .fileSlider{
                margin-left: -15px;
                margin-right: -15px;
              }
            }
          }
        }
      }
    }
    .informacoesGerais h1{
      font-size: 25px;
    }
    .ementas h1{
      font-size: 25px;
      span{
        display: block;
      }
    }
    .gabinetePsicologia{
      .titlegabinetePsicologia h2{
        font-size: 25px;
      }
      .contentgabinetePsicologia{
        .fotoPsicologa{
          width: 60%;
        }
      }
    }
    .calendarioEscolar{
      h1{
        font-size: 25px;
        span{
          display: block;
        }
      }
      .contentCalendarioescolar{
        .seasonCalendarioescolar{
          .season1st, .season2nd, .season3rd{
            padding-top: 40px;
            .seasonTitle{
              font-size: 25px;
            }
          }
          .season3rd .seasonEnd{
            .seasonContent1, .seasonContent2{
              float: none;
              text-align: center;
              width: 100%;
              padding: 5px 0;
              display: block;
              min-height: auto;
              p{
                padding: 0;
                display: block;
                //vertical-align: unset;
              }
            }
            .seasonContent1{
              padding-top: 30px;
            }
          }
        }
        .infoField{
          font-size: 16px;
          color: #1b2376;
          font-weight: 500;
          margin-top: 60px;
          margin-left: 0%;
          span{
            font-weight: 600;
          }
        }
      }
      .activitiesCalendar .activitiescalendarContent .titleActivitiescalendar{
        padding: 40px 0;
        p{
          position: relative;
          transform: none;
          margin-right: 0;
          left: auto;
          top: auto;
        }
      }
    }
    .matriculasMensalidades, .matriculasInfo{
      h1{
        font-size: 25px;
      }
    }
    .matriculasMensalidades .extendCosts .extendWrapper .innerWrapper .extendcosts1Ciclo{
      margin-left: -7px;
    }
    .matriculasMensalidades .mealsCosts .outerWrap .tableWrap .tableMealscosts tbody tr th{
      &.thead2, &.thead3, &.thead4{
        &:after{
          top: 24px;
        }
      }
    }
  }
  .newsSinglePage{
    .newsPageTitle{
      font-size: 25px;
    }
    .newsHeader .container .headerTitles{
      width: auto;
      .newsTitle{
        font-size: 25px;
      }
      .newsSubtitle{
        font-size: 20px;
      }
    }
    .newsContent .newsNavigation{
      padding: 80px 0 100px;
      .arrowNavigation{
        right: 0;
        margin-top: 35px;
      }
      .dotsNavigation{
        display: block;
      }
    }
    .previousNews{
      .prevnewsTitle{
        font-size: 25px;
      }
      .prevNews .container .newsTitles .newsTitles_Wrapper{
        .newsSubtitle{
          font-size: 20px;
        }
        .newsTitle{
          font-size: 25px;
        }
      }
    }
  }

  footer{
    .footer-title h3{
      font-size: 25px;
    }
    .footer-content .container .row.informations{
      .contacts-section{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        border-bottom: 0px solid #8e8e8e;
        padding: 10px 0;
      }
      .info-section{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        border: 0;
        border-bottom: 0px solid #8e8e8e;
        padding: 10px 0;
        .content{
          .availability-time{
            margin-bottom: 37px;
          }
          .follow-facebook{
            margin-bottom: 20px;
            position: relative;
            bottom: auto;
          }
        }
      }
      .menu-section{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        padding: 10px 0;
        .menuTitle{
          cursor: pointer;
          font-size: 20px;
          margin-bottom: 15px;
          font-weight: bold;
          color: white;
          svg{
            font-size: 16px;
          }
        }
        .bottomMenu{
          display: none;
          .menu-homemenu-container .menu .menu-item-type-custom:not(.menu-item-457):not(.menu-item-516){
            display: block;
            padding-left: 0;
            .sub-menu{
              & > .menu-item{
                padding: 3px 0;
              }
            }
          }
        }
        .policies-links{
          width: 100%;
          .col-6{
            text-align: center;
            font-size: 13px;
            a{
              color: #0569d6;
            }
          }
        }
      }
    }
  }
  .slick-lightbox .slick-lightbox-inner{
    width: 100%;
    position: relative;
    margin: auto;
    .slick-lightbox-slick{
      width: 100%;
      max-width: 576px;
      .slick-list .slick-track .slick-lightbox-slick-item{
        margin-top: 40px;
        .slick-lightbox-slick-item-inner img{
          max-height: 350px !important;
        }
      }
      .slick-next, .slick-prev{
        margin-bottom: -235px;
      }
    }
    .slick-lightbox-close{
      margin-top: -230px;
      right: 54px;
    }
  }
  .lightbox{
    .lb-outerContainer{
      .lb-container{
        .lb-image{
          max-height: 350px;
        }
      }
    }
  }
  .footer-content .container .row.keep-touch{
    .content-contactform{
      &:not(.expanded){
        display: none !important;
      }
      &.expanded{
        .closeExpanded{
          display: none;
        }
      }
    }
    .content-newsletter{
      &:not(.expanded){
        display: none !important;
      }
      &.expanded{
        .closeExpanded{
          display: none;
        }
      }
    }
  }
}

@include respond-between(sm, md) {
  h1, h2, h3{
    font-size: 25px;
  }

  header{
    .top-navbar .container .row{
      display: none;
      .topnavItem{
        text-align: center;
        padding: 10px;
        p{
          font-size: 15px;
        }
        &:nth-child(3){
          p{
            line-height: 1;
            span{
              display: block;
            }
          }
        }
        &:last-child{
          p{
            text-align: center;
          }
        }
      }
    }
    .navbar{
      .container{
        position: relative;
        .navbar-brand{
          position: absolute;
          bottom: -69px;
          margin-left: 3%;
          top: auto;
          .under-logo{
            width: 116px;
            margin-left: -3px;
          }
          .site-logo{
            width: 110px;
            margin-top: -24px;
          }
        }
        .navbar-collapse{
          .menu-homemenu-container .menu{
            padding: 0;
            margin: 0;
            text-align: center;
            line-height: 1.6;
            .menu-item-has-children{
              padding: 5px 0;
              display: block;
              float: unset;
              .sub-menu{
                width: 100%;
                padding-top: 5px;
                overflow: hidden;
                display: none;
                opacity: 1;
                margin-top: 0;
                & > .menu-item{
                  max-width: none;
                  width: 100%;
                  padding:0;
                  &:last-child{
                    padding-bottom: 10px;
                  }
                  a{
                    padding: 5px 0;
                  }
                }
              }
            }
            .menu-item-395{
              display: block;
              padding: 0;
              height: auto;
            }
          }
          .searchForm{
            position: relative;
            top: auto;
            left: auto;
            text-align: center;
            margin-left: 32px;
          }
        }
      }
    }
  }
  .home-carousel .container-fluid .container{
    margin-left: 0;
    left: 0;
    top: 45%;
    max-width: none;
    p{
      margin-bottom: 80px;
      text-align: center;
      font-size: 30px;
    }

  }
  .main{
    /*.testimonials{
      .testimonial-track{
        .slick-list{
          padding: 0 32px !important;
          .slick-track{
            width: 9000px !important;
          }
        }
        .slick-slide{
          width: 400px !important;
          .testimonial-main{
            width: 400px;
            .testimonial-personInfo{
              width: 200px;
              height: 200px;
              min-height: auto;
            }
            .testimonial-text{
              width: 200px;
              height: 200px;
              padding: 25px;
              p{
                font-size: 14px;
              }
            }
          }
        }
      }
    }*/
    .highlightedNews .news-track{
      .slick-dots{
        width: 100%;
        text-align: center;
      }
      .news-slide .row .news-img{
        &:before{
          display: none;
        }
        .content{
          width: 100%;
          max-width: none;
          padding: 85px 15px;
          .news-spotlight{
            left: 15px;
          }
          .news-Titles{
            h2{
              font-size: 25px;
            }
            h3{
              font-size: 20px;
            }
          }
          .post-link{
            position: absolute;
            right: 15px;
            bottom: 0;
            a{
              color: white;
            }
          }
        }
      }
    }
    .transparency .row{
      .title{
        padding-right: 0;
        padding-left: 15px !important;
        .content{
          width: auto;
          float: left;
        }
      }
      .slider .transparencyslider{
        .slick-prev{
          right: 0px;
          margin-right: 60px;
        }
        .slick-next{
          right: 15px;
          margin-right: 0px;
        }
      }
    }
    .ofertaFormativa .itemSection{
      padding: 0;
    }
    .calendarioEscolar{
      .activitiesCalendar .activitiescalendarContent .titleActivitiescalendar{
        padding: 40px 0;
        p{
          position: relative;
          transform: none;
          margin-right: 0;
          left: auto;
          top: auto;
        }
      }
      .calendarioEscolar{
        .contentCalendarioescolar{
          .seasonCalendarioescolar{
            .season1st, .season2nd, .season3rd{
              .seasonTitle{
                font-size: 25px;
                padding-bottom: 40px;
              }
            }
          }
        }
      }
    }
  }
  .newsSinglePage{
    .newsContent .newsNavigation{
      padding: 40px 0 100px;
      .arrowNavigation{
        margin-top: 50px;
      }
    }
  }
  
  footer .footer-content .container{
    .row.informations{
      .contacts-section{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        border-bottom: 0px solid #8e8e8e;
        padding: 10px 0;
      }
      .info-section{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        border: 0;
        border-bottom: 0px solid #8e8e8e;
        padding: 10px 0;
        .content{
          .availability-time{
            margin-bottom: 37px;
          }
          .follow-facebook{
            margin-bottom: 20px;
            position: relative;
            bottom: auto;
          }
        }
      }
      .menu-section{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        padding: 10px 0;
        .menuTitle{
          cursor: pointer;
          font-size: 20px;
          margin-bottom: 15px;
          font-weight: bold;
          color: white;
          svg{
            font-size: 16px;
          }
        }
        .bottomMenu{
          display: none;
          .menu-homemenu-container .menu .menu-item-type-custom{
            display: inline-grid;

          }
        }
        .policies-links{
          width: 100%;
          .col-6{
            text-align: center;
            font-size: 13px;
            a{
              color: #0569d6;
            }
          }
        }
      }
    }
    .row.keep-touch{
      .icon-contactform, .icon-newsletter{
        display: block !important;
        font-size: 7em;
        padding: 13px 0;
      }
      .content-contactform, .content-newsletter{
        &:not(.expanded){
          display: none !important;
        }
        &.expanded .closeExpanded{
          display: none;
        }
        .content-title{
          font-size: 20px;
          line-height: 1.3;
        }
        .content-text{
          font-size: 16px;
        }
      }
    }
  }
  .slick-lightbox .slick-lightbox-inner{
    width: 671px;
    .slick-lightbox-slick{
      width: 100%;
      .slick-list{
        width: 670px;
        margin: auto;
        .slick-track .slick-lightbox-slick-item{
          margin-top: 50px;
          .slick-lightbox-slick-item-inner img{
            max-height: 365px !important;
          }
        }
      }
      .slick-prev, .slick-next{
        margin-bottom: -255px;
      }
    }
    .slick-lightbox-close{
      margin-top: -250px;
    }
  }
}

@include respond-between(md, lg) {

  .home-carousel .container-fluid{
    .container{
      margin-left: 0;
      left: 0;
      bottom: 45%;
      max-width: none;
      p{
        margin-bottom: 80px;
      }
    }
    .slick-track{
      .slick-prev{
        right: 0;
        margin-right: 60px;
        top: 83%;
      }
      .slick-next{
        right: 0;
        margin-right: 15px;
        top: 83%;
      }
    }
  }

  header .navbar .container{
    .navbar-brand{
      top: 56px;
      .under-logo{
        width: 115px;
      }
      .site-logo{
        width: 105px;
        margin-top: -24px;
      }
    }
    .navbar-collapse {
      .menu-homemenu-container .menu{
        margin-left: 90px;
        margin-top: 3px;
        .menu-item-has-children{
          padding: 0 0 0 32px;
          font-size: 15px;
        }
        .menu-item-395{
          font-size: 15px;
          padding: 0 0 0 32px;
        }
      }
      .form-inline{
        .form-control{
          font-size: 15px;
        }
      }
    }
  }

  .main{
    .highlightedNews .news-track .news-slide .row{
      .news-img .content{
        max-width: none;
        padding-left: 15px;
        .news-spotlight{
          left: 15px;
        }
      }
      .news-content .content{
        max-width: none;
        padding-right: 15px; 
      }
    } 
    .transparency .row{
      .title{
        padding-right: 0;
        padding-left: 15px !important;
        .content{
          width: auto;
          float: left;
        }
      }
      .slider .transparencyslider{
        .slick-prev{
          right: 0px;
          margin-right: 60px;
        }
        .slick-next{
          right: 0;
          margin-right: 15px;
        }
      }
    }
    /*.testimonials .testimonial-track{
      .slick-list{
        padding: 0 250px !important;
        .slick-track{
          width: 6800px !important;
        }
      }
    }*/

  }
  footer .footer-content .container{
    .row.informations{
      .contacts-section{
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        border-bottom: 1px solid #8e8e8e;
        padding: 10px 0;
        .content .policies-links{
          position: relative;
          bottom: auto;
        }
      }
      .info-section{
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        border: 0;
        border-bottom: 1px solid #8e8e8e;
        padding: 10px 0;
        .content .follow-facebook{
          position: relative;
          bottom: auto;
        }
      }
      .menu-section{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
  .slick-lightbox .slick-lightbox-inner{
    .slick-lightbox-slick{
      width: 100%;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px){



  /*.main .testimonials .testimonial-track .slick-list{
    padding: 0px 250px !important;
    .slick-track{
      width: 7300px !important;
    }
  }*/
}
