
.scroller > .scroll-element,
.scroller > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scroller > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scroller > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scroller > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
    display: none;
}

.scroller > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scroller > .scroll-element .scroll-element_outer,
.scroller > .scroll-element .scroll-element_track,
.scroller > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scroller > .scroll-element .scroll-element_track,
.scroller > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scroller > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scroller > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scroller > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scroller > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.scroller > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scroller > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scroller > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scroller > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
