.slick-lightbox{
  background: rgba(255, 255, 255, 0.85) !important;
  overflow-y: hidden;
  .slick-lightbox-inner{
    width: 767px;
    position: relative;
    margin: auto;
    .slick-lightbox-close{
      width: 30px;
      height: 30px;
      top: 50%;
      margin-top: -280px;
      right: 0;
      border-radius: 3px;
      background: $medium-blue;
      line-height: 0;
      &:before{
        font-size: 25px;
        font-weight: 900;
      }
    }
    .slick-lightbox-slick{
      width: 765px;
      margin: auto;
      .slick-prev{
        position: absolute;
        bottom: 50%;
        margin-bottom: -295px;
        right: 45px;
        left: auto;
        font-size: 0;
        z-index: 9;
        border-radius: 50%;
        border: 1px solid $medium-blue;
        background: transparent;
        color: $medium-blue;
        width: 36px;
        height: 36px;
        outline: none;
        &:before{
          content: '\f060';
          font-family: 'Font Awesome 5 Free';
          font-size: 20px;
          font-weight: 900;
        }
        &:after{
          content: 'Clique para ver mais';
          font-family: 'Raleway', sans-serif;
          font-size: 15px;
          position: absolute;
          width: 150px;
          margin-left: -210px;
          margin-top: 12px;
          pointer-events: none;
        }
      }
      .slick-next{
        position: absolute;
        bottom: 50%;
        margin-bottom: -295px;
        right: 0;
        font-size: 0;
        left: auto;
        border-radius: 50%;
        border: 1px solid $medium-blue;
        background: transparent;
        color: $medium-blue;
        width: 36px;
        height: 36px;
        outline: none;
        z-index: 9;
        &:before{
          content: '\f061';
          font-family: 'Font Awesome 5 Free';
          font-size: 20px;
          font-weight: 900;
        }
      }
      .slick-list{
        height: 100vh;
        .slick-track{
          top: 50%;
          margin-top: -250px;
          .slick-lightbox-slick-item{
            height: auto !important;
            .slick-lightbox-slick-item-inner{
              max-width: 100%;
              display: block;
              img{
                width: 100%;
                max-height: 460px !important;
                max-width: none;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
